<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1615716175455-9a098e2388be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGxpZ2h0JTIwZ3JlZW58ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);">
  <h1 style="text-transform:uppercase;">Edit your CD</h1>

  <%# Form %>
  <div class="container">
    <%= simple_form_for(@cd) do |f| %>
      <%= f.input :name, label: "CD title" %>
      <%= f.input :description %>
      <%= f.input :category, collection: Cd::GENRES %>
      <%= f.input :price, label: "Price(€)" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-flat" %>
      <%= link_to "Back to #{@cd.name}", cd_path(@cd), class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
