<%# Banner %>
<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1516557070061-c3d1653fa646?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJsYWNrfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);">
  <div class="cd-container shinning">
    <h1 class="shinning">CD</h1>
    <p class="shinning"><strong>Search your heart, search your soul, and search your CD</strong></p>
  </div>
      <%= link_to "Add your CDs", new_cd_path, class: "btn btn-flat" %>
</div>

<%# Search %>
<div> <%= form_with url: root_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your inspiration"
      %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>

<%# List %>
<div class="container">
  <div class="cards">
    <% @cds.each do |cd| %>
      <% if cd.booking_ids.empty? %>
        <%= link_to cd_path(cd), class:"text-decoration-none" do %>
          <div class="card-category">
            <%= cd.photo.attached? ? (cl_image_tag cd.photo.key, crop: :fill, class: "spinhov" ) : image_tag(asset_path('doge.png'),  class:"spinhov") %>
            <p><%= cd.name %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
