<%# Banner %>
<div class="booking-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1631246974502-73131bdaa3cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=390&q=80);">
    <h1><%= "Your CDs" %></h1>

</div>

<%# Search %>
<div> <%= form_with url: cds_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your inspiration"
      %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>


<%# List %>
<div class="container">
  <div class="container">
    <div class="cards">
      <% @cds.each do |cd| %>
        <%= link_to cd_path(cd), class:"text-decoration-none" do %>
          <div class="card-category spinhov" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cd.photo.attached? ? (cl_image_path cd.photo.key, crop: :fill ) : image_path(asset_path('doge.png')) %>)">
            <%= cd.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
