<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1615716175455-9a098e2388be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGxpZ2h0JTIwZ3JlZW58ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);">
  <h1 style="text-transform:uppercase;">Add your CD</h1>

  <%# Form %>
  <div class="d-flex justify-content-center">
    <%= simple_form_for(@cd) do |f| %>
      <%= f.input :name, placeholder: "Enter the title", label: "CD title" %>
      <%= f.input :description, placeholder: "Enter the description" %>
      <%= f.input :category, collection: Cd::GENRES %>
      <%= f.input :price, placeholder: "Enter the price", hint: "NUMBER ONLY", label: "Price(€)" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit value: "Add", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
