<div class="container">

  <h1><%= @cd.name %></h1>
  <p><%= @cd.description %></p>
  <p><%= @cd.poster_url %></p>

</div>

<%= link_to "Homepage", root_path %>
<%= link_to "Edit", edit_cd_path %>
<%= link_to "Delete", cd_path(@cd), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{@cd.name} ?"} %>
