<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= @cd.photo.attached? ? cl_image_path(@cd.photo.key) : asset_path('doge.png') %>);">
  <div class="container">
    <div class= "cd-container">
      <h1 style="text-transform:uppercase;" ><%= @cd.name %></h1>
      <h3><strong><%= @cd.description %></strong></h3>
      <h3><strong><%= @cd.category %></strong></h3>
      <h4><strong><%= @cd.price %>€ / jour</strong></h4>

      <% if current_user.nil? || @cd.user_id != current_user.id %>
        <%= link_to "Rent", new_cd_booking_path(@cd), class: "btn btn-flat" %>
      <% end %>
      <% if !current_user.nil? && @cd.user_id == current_user.id %>
        <%= link_to "Edit", edit_cd_path, class: "btn btn-flat mb-3" %>
        <%= link_to "Delete", cd_path(@cd), class: "btn btn-flat mb-3", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{@cd.name} ?"} %>
      <% end %>
    </div>
  </div>
</div>
