<div class="container d-flex flex-column align-items-center justify-content-around">
  <div class="container-user-profile mb-3">
    <div class="profile-img">
      <%= @user.photo.attached? ? (cl_image_tag @user.photo.key, crop: :fill, class: "profile-avatar") : image_tag(asset_path('https://kitt.lewagon.com/placeholder/users/ssaunier'), class: "profile-avatar justify-content-center") %>
    </div>
    <div class="profile-detail">
      <h1><%= @user.last_name %></h1>
      <h2><%= @user.first_name %></h2>
      <p>Email : <%= @user.email %></p>
      <p>Phone : <%= @user.phone_number %></p>
      <p>Address : <%= @user.address %></p>
      <%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
