<%# Banner %>
<div class="booking-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1542208998-f6dbbb27a72f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
    <h1 style="text-transform:uppercase;">Your Bookings</h1>
</div>

<%# List %>
<div class="container">

  <% booking_number = 1 %>

  <% @bookings.each do |booking| %>
    <div class="card-product-infos">
      <div class="card-product">
        <%= booking.cd.photo.attached? ? (cl_image_tag booking.cd.photo.key, height: 300, width: 400, crop: :fill ) : image_tag(asset_path('doge.png'), height: 300) %>
          <div class="card-product-infos">
          <h2><%= booking_number %>. <%= booking.cd.name %></h2>
            <% booking_number += 1 %>
            <p>Description: <strong><%= booking.cd.description %></strong></p>
            <p>Start time: <strong><%= booking.start_time %></strong></p>
            <p>End time: <strong><%= booking.end_time %></strong></p>
            <p><strong><%= booking.cd.price %></strong>€</p>
            <%= link_to "Edit", edit_booking_path(booking), class: "btn btn-ghost" %>
            <%= link_to "Delete", booking_path(booking), class: "btn btn-ghost", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{booking.cd.name} ?"} %>
          </div>
        </div>
    </div>
  <% end %>

</div>
