<div class="container">
  <h1>Your Bookings</h1>

  <% booking_number = 1 %>
  
  <% @bookings.each do |booking| %>
    <div class="card-product-infos">
      <h2>Booking: <%= booking_number %></h2>
      <% booking_number += 1 %>
      <%= booking.cd.photo.attached? ? (cl_image_tag booking.cd.photo.key, height: 300, width: 400, crop: :fill ) : image_tag(asset_path('doge.png'), height: 300) %>
      <h2><%= booking.cd.name %></h2>
      <p>Desciption: <strong><%= booking.cd.description %></strong></p>
      <p>Start time: <strong><%= booking.start_time %></strong></p>
      <p>End time: <strong><%= booking.end_time %></strong></p>
      <%= link_to "Edit", edit_booking_path(booking) %>
      <%= link_to "Delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{booking.id} ?"} %>
    </div>
  <% end %>

</div>
